# =========================
# ENV / SECRETS
# =========================

.env
.env.*
*.env

n8n/env.n8n

# =========================
# n8n runtime data
# =========================

n8n_data/
n8n_data/database.sqlite
n8n_data/database.sqlite-shm
n8n_data/database.sqlite-wal
n8n_data/config
n8n_data/storage
n8n_data/*.log
n8n_data/n8nEventLog*

# =========================
# USER DATA
# =========================

uploads/
data/

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# LOGS
# =========================

*.log

# =========================
# DOCKER
# =========================

docker-compose.override.yml

# =========================
# EDITORS
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db