/.bundle
/.env
/db/*.sqlite3
/db/*.sqlite3-*
coverage/
/public/uploads
/log/*
/uploads
/tmp/*
/log/.keep
/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/master.key
/vendor
/.idea